# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Output binaries
*.apk
*.ipa
*.aab

# Environment files
.env
.env.*

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/generated_plugin_registrant.dart

# Firebase
firebase.json
.firebase/

# Android/Gradle
android/.gradle/
android/captures/
android/local.properties

# iOS
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/

# Others
*.log
*.lock
*.tmp
*.bak
